/*================================================
admincss.css
//====contains styles to be applied on the administrator module

		@author	-	Anita
	@date	- 	August 10, 2005
		SunArc Tech Pvt Ltd
==================================================*/
.enlargeimagestyle {
	BORDER-RIGHT: #8b0000 1px solid;
	BORDER-TOP: #8b0000 1px solid;
	LEFT: 379px;
	BORDER-LEFT:#8b0000 1px solid;
	WIDTH: 158px;
	BORDER-BOTTOM: #8b0000 1px solid;
	POSITION: absolute;
	TOP: 35px;
	HEIGHT: 260px;
	BACKGROUND-COLOR: #A5A6D8;
	TEXT-ALIGN: center;
	cursor: hand;
	background-image: url(image/images.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	visibility: visible;

}
h5
{
	font-family:tahoma;
}


table
{
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border:0;
}
.tablecss
{
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-top:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	background-color:transparent;
}

.tablecss td
{
	border-left:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	background-color:transparent;
}

tr
{
	font-family:tahoma, Helvetica, sans-serif;
	font-size :11px;
	color:#000000;
   background-color:transparent;
   
}
.trcss
{
	font-family:tahoma, Helvetica, sans-serif;
	font-size :11px;
	color:#000000;
	background-color:#EFF7FF;
}

th
{
	font-family:tahoma, Helvetica, sans-serif;
	font-size :11px;
	/*color:#FFFFFF;*/
	font-weight:bold;
	/*background-color: #5698D2;*/
	background-color: #DADBB0;
}


.plaintable .blanktd
{
	border:none;
	background-color:transparent;
}

.anth
{
	font-family:tahoma, Helvetica, sans-serif;
	font-size :11px;
	color:#ffffff;
	background-image:url(../../images/fav_back12.jpg);
	font-weight:bold;
	text-align : center;
	background-color:#5F81CF;
	
}

td
{
	padding: 3px;

}

input
{
	font-family:tahoma, Helvetica, sans-serif;
	font-size :11px;
	color:#000000;
	border-style:groove;
}

select
{
	font-family:tahoma, Helvetica, sans-serif;
	font-size :11px;
	color:#000000;
	border-style:groove;
}
	
textarea
{
	font-family:tahoma, Helvetica, sans-serif;
	font-size :11px;
	color:#000000;
	border-style:groove;
}



h3
{
	font-family:tahoma, Helvetica, sans-serif;
	font-size :14px;
	color:#7CA85B;
	font-weight:bold;
}

h6
{
	font-family:tahoma, Helvetica, sans-serif;
	font-size :12px;
	color:#000000;
	font-weight:bold;
}




.plaintable
{
	padding: 0;
	border: 0;
	background-color:#FFFFFF;
	background-color:transparent;
}

.checkbox
{
	font-family:tahoma, Helvetica, sans-serif;
	font-size :11px;
	color:#000000;
	border-style:none;
}

.footer
{
	color:#999999;
}
.saperator {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #0000FF;
	text-decoration: underline overline;
	word-spacing: normal;
	border: none;
	background-color: #FFFFFF;
}
.addedit
{
	font-family:tahoma, Helvetica, sans-serif;
	font-size :12px;
	color:#000000;
	font-weight:bold;
}
.noborder
{
	background-color: #FFFFFF;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
}
.transCtrls
{
	background-color:#f6f4c1;
}
.thColor
{
   background-color: #5F81CF;
 }
 .tdColor
 {
background-color: transparent;
 }
 .tdColorG
 {
 background-color:#33FF66;
 }
.tableBorder
{
	border: thin solid #DDDDDD;
	background:transparent;
 }
 .href
 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFFFFF;
	font-weight: bold;
 
  }
.Message
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0000FF;
}
/* added by neha for radio buttons*/
.radio
{
	font-family:tahoma, Helvetica, sans-serif;
	font-size :11px;
	color:#000000;
	border-style:none;
}
/* added by neha for links*/
a{
font-family: Arial;
font-weight:bold;
color: #006699;
text-decoration: none;
}



.tdHead
{
	height:21px;
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#55AAFF;
	color:#FFFFFF;
}


.tdHead2
{
	height:21px;
	font:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
}

.tdWhite
{
	height:21px;
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#FFFFFF;
	padding-left:10px;
	
}

.submit{
cursor:pointer;
}

.logo-left{
float:left;
width:70%;

}
.roletable
{
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-top:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	border-left:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	background-color:transparent;
}

.roletabletd
{
	/*border-left:1px solid #DDDDDD;*/
	border-top:1px solid #DDDDDD;
	background-color:transparent;
}