body {
font-family:Raleway, sans-serif!important;
margin:0;
padding:0;
}
.drop-shadow{
	box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.19); 
}

a, a:focus, a:active, a:hover, a:visited {
outline:0!important;
}

.navbar {
margin-bottom:0;
}

.navbar-default {
background-color:transparent;
border-color:transparent;
}

.nomargin {
margin-left:0;
margin-right:0;
}

.positionA {
position:absolute;
}

.search {
width:40%;
padding-top:10px!important;
padding-bottom:10px!important;
height:46px!important;
margin:0 auto;
}

.search-icon {
position:absolute;
right:32%;
top:26%;
font-size:20px!important;
color:#ddd;
}
.sidebar-bg{
	background-color:#ecf4f7;
}
/*.list-tabs {
background-color:#ecf4f7;
}*/

.logo-padding {
padding:30px;
}

.tabbing .active-tab {
background-color:#05709b;
padding:10px;
}

.tabbing li {
border-bottom:1px solid #a9afbb;
padding:10px;
}

.tabbing-top-border {
border-top:1px solid #a9afbb;
}

.tabbing li a i {
padding-right:10px;
color:#a9afbb;
}

.tabbing .active-tab a i {
padding-right:10px;
}

.tabbing li a {
color:#5b5a5a;
}

.nav > li > a:focus,.nav > li > a:hover {
background-color:transparent;
}

.login-form {
background:linear-gradient(#fff 50%,#05709b 50%);
background:-webkit-linear-gradient(#fff 50%,#05709b 50%);
background:-moz-linear-gradient(#fff 50%,#05709b 50%);
background:-ms-linear-gradient(#fff 50%,#05709b 50%);
background:-o-linear-gradient(#fff 50%,#05709b 50%);
padding:100px 0px;


}

.main-wrapper {
background-color:#fff;
box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.21);
width:33.33%;
margin:0 auto;
padding:30px;
}

.logo {
margin-bottom:50px;
}

.icon .fa-user,.icon .fa-lock {
/*font-size:20px!important;*/
}

.icon {
position:relative;
padding-left:36px;
padding-top:10px!important;
padding-bottom:10px!important;
border-radius:10px!important;
height:46px!important;
font-size:16px!important;
margin-bottom:20px;
}

.ic1,.ic2 {
position:absolute;
color:#ccc;
top:13px;
left:10px;
font-size:20px!important;
}

.switch {
position:relative;
display:inline-block;
width:54px;
height:24px;
}

.switch input {
display:none;
}

.slider {
position:absolute;
cursor:pointer;
top:0;
left:0;
right:0;
bottom:0;
background-color:#fff;
border:1px solid #ccc;
-webkit-transition:.4s;
transition:.4s;
}

.slider:before {
position:absolute;
content:"";
height:18px;
width:18px;
left:2px;
bottom:2px;
background-color:#ccc;
-webkit-transition:.4s;
transition:.4s;
}

input:checked + .slider {
background-color:#2196F3;
border-color:transparent;
}

input:focus + .slider {
box-shadow:0 0 1px #2196F3;
}

input:checked + .slider:before {
background-color:#fff;
-webkit-transform:translateX(28px);
-ms-transform:translateX(28px);
transform:translateX(28px);
}

.slider.round {
border-radius:34px;
}

.slider.round:before {
border-radius:50%;
}

.checked-label {
padding-left:20px;
color:#CCC;
font-weight:700;
font-size:16px;
margin-bottom:30px;
}

.login-form .btn-primary {
border-radius:90px;
}

.login-form .btn {
font-size:16px;
margin-bottom:16px;
box-shadow:0 0 10px -4px #000;
padding:10px 40px;
}

.userbg {
background-color:#f3f7f8;
padding:30px;
}

.update-user {
border-top-right-radius:4px;
border-top-left-radius:4px;
margin:0!important;
}

.user-heading,.update-user {
background-color:#05709b;
color:#fff;
padding:20px;
}

.user-heading i {
padding-left:10px;
font-size:18px;
}

.user-heading select {
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
}

.user-heading .select-caret:after {
content:"\f0d7";
font-family:FontAwesome;
color:#fff;
position:absolute;
right:20%;
top:4%;
z-index:1;
text-align:center;
font-size:20px;
pointer-events:none;
box-sizing:border-box;
}

#users form label {
color:gray;
}

#users {
border-radius:4px;
box-shadow:0 0 4px -2px #000;
}

#users form {
background-color:#fff;
padding:20px;
}

.dashboard-details {
margin-bottom:20px;
}

.new-companies,.new-user,.feedback {
background-position:center;
background-size:cover;
background-repeat:no-repeat;
color:#fff;
border-radius:4px;
padding:20px;
box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.21); 
}

.new-companies {
background-image:url(../images/new-companies.png);
}

.new-user {
background-image:url(../images/new-user.png);
}

.feedback {
background-image:url(../images/feedback.png);
}

.new-companies i,.new-user i,.feedback i {
font-size:80px;
}
.font_60{
	font-size:60px;
	margin:0px;
	line-height: 1.2;
}
.font_22{
	font-size:22px;
	margin:0px;
	line-height:1;
}

.view-details1,.view-details2,.view-details3 {
background-color:#fff;
border-bottom-right-radius:4px;
border-bottom-left-radius:4px;
box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.21); 
padding:8px;
}

.view-details1 a,.view-details2 a,.view-details3 a{
outline:0;
text-decoration:none;
}

.view-details1 a {
color:#ffbb51;
}

.view-details3 a {
color:#5db85b;
}

.margin_80 {
margin-top:80px;
}

.show-result {
background-color:transparent;
color:#fff;
}

.margin_4 {
margin-top:4px;
}

.dashboard-table {
background-color:#fff;
}

.dashboard-table th {
color:#05709b;
text-align:center;
}

.dashboard-table td {
text-align:center;
color:#5b5a5a;
}

.dashboard-table i {
color:#bcbcbc;
padding-right:2px;
padding-left:2px;
}

.plan-category {
background-color:#fff;
box-shadow:0 0 8px -2px #000;
margin-bottom:20px;
padding:30px;
}

.basic,.optimum,.premium,.new-top-plan {
border-top:4px solid #5db85b;
box-shadow:0 0 8px -2px #000;
margin-bottom:20px;
padding:20px 0;
}

.optimum {
border-top:4px solid #ff625e;
}

.premium {
border-top:4px solid #ffbb51;
}

.new-top-plan {
border-top:4px solid #05709b;
}

.basic h3,.optimum h3,.premium h3,.new-top-plan h3 {
margin-top:0;
margin-bottom:20px;
text-transform:uppercase;
}

.basic h2,.optimum h2,.premium h2,.new-top-plan h2 {
background-color:#5db85b;
color:#fff;
margin-top:0;
margin-bottom:0;
padding:20px 0;
}

.basic p,.optimum p,.premium p,.new-top-plan p {
border-bottom:2px solid #e9e9e9;
margin:0;
padding:10px 0;
}

.no-border {
border-bottom:none!important;
}

.basic .btn,.optimum .btn,.premium .btn,.new-top-plan .btn {
margin-top:20px;
width:130px;
}

.add-company {
background-color:#ff625e;
box-shadow:0 0 8px -2px #000;
border-color:#ff625e;
}

.user-page-form label {
color:#b3b3b3;
}

.user-page-form sup {
color:#ff625e;
font-size:28px;
top:4px;
}

.status-bg-active {
background-color:#5cb85c;
}

.status-bg-inactive {
background-color:#f0ad4e;
}

.status-bg-inactive,.status-bg-active {
color:#fff;
border-radius:4px;
padding:5px;
}

.navbar-collapse,.nopadding,.padding-zero {
padding-left:0;
padding-right:0;
}

.positionR,.icon-group,.select-caret {
position:relative;
}

.tabbing .active-tab a,.tabbing .active-tab i {
color:#fff;
}

.help,.show-result option {
color:#000;
}

.user-page-form .form-control {
width:50%;
box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.09) inset; 
border:none;
/*padding:24px 12px;*/
padding:12px 12px;
}
.user-page-form label{
	padding:14px 0px;
}
#fileUpload{
	position:relative;
}
#uploadButton{
	
}
.user-profile{
	
	margin-top:20px;
}
.view-details2 a,.user-page-form .validation {
color:#ff625e;
}

.table > thead > tr > th,.table > tbody > tr > td {
padding-top:16px;
padding-bottom:16px;
}

.margin_30,.margin_bot_30 {
margin-bottom:30px;
}

.optimum h2,.optimum .btn {
background-color:#ff625e;
}

.premium h2,.premium .btn {
background-color:#ffbb51;
}

.new-top-plan h2,.new-top-plan .btn {
background-color:#05709b;
}

@media screen and (max-width:1599px){
.container-fluid.page-wrapper {
width:100%;
padding-left:0px;
padding-right:0px;
}
}

@media screen and (min-width: 1600px){
.container-fluid.page-wrapper {
width:1600px;
max-width:100%;
padding-left:0px;
padding-right:0px;
}
}

@media screen and (max-width: 991px){
.main-wrapper {
width:50%;
padding:25px;
}
}

@media screen and (max-width: 767px){
.logo-padding {
float:left;
}

.navbar-toggle {
margin-top:14%;
}

.navbar-collapse {
padding-left:15px;
padding-right:15px;
}

.main-wrapper {
width:100%;
padding:20px;
}

.loginBtn {
clear:both;
}
}

/*Riyaz start*/
table.table.dashboard-table.table-all{ width: 100%!important; }
.table.table.dashboard-table.table-all th{ background-color: white; }
.profile-image{
	float: left !important;
}
.basic.text-center.plan-template-child {
	min-height: 355px;
}

.m-t-15{

	margin-top: 15px;
}
/*Riyaz end*/
