<h2>Get Info Money Bird Module</h2>
<form method="post" name="test" id="test" enctype="multipart/form-data" action="http://10.0.0.46/facilitysystem/index.php?mod=user&do=edit&task=module_info&call=API">
<table width="60%"  border="2px" align="center" cellpadding="2" cellspacing="2" class="table table-bordered">
    <tbody>
	<tr> 
		<td align="right" class="fontstyle"> <label for="url" class="control-label col-xs-10">url</label></td>
		<td align="left">
			<input type="text" title="url" class="form-control" id="url" name="url" value="">
		</td>
	</tr>
	<tr> 
		<td align="right" class="fontstyle"> <label for="email" class="control-label col-xs-10">email</label></td>
		<td align="left">
			<input type="text" title="email" class="form-control" id="email" name="email" value="">
		</td>
	</tr>
	<tr> 
		<td align="right" class="fontstyle"> <label for="password" class="control-label col-xs-10">password</label></td>
		<td align="left">
			<input type="text" title="password" class="form-control" id="password" name="password" value="">
		</td>
	</tr>
	<tr class="alt">
	<td colspan="2">
	<div class="col-xs-offset-2 col-xs-10" style="width:50% !important; margin-left: 24.6667%;">
		<button type="submit" class="btn btn-primary" name="update">Go</button>
		<button type="reset" class="btn btn-primary" name="Reset">Reset</button>
     </div>
		</td>
	</tr>
	</tbody>
</table>
</form>